
@font-face {
    font-family: CryptoAutum;
    src: url(../Assets/Autum.ttf);
}

body{
    background-image: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.45), 
        rgba(255, 255, 255, 0.45)), 
        url(https://www.publicdomainpictures.net/pictures/430000/nahled/pergament-papier-hintergrund-textur-1638382123zbo.jpg);
    background-size: cover;
}

figure{
    background-color: rgba(255, 255, 255, 0.45);
    margin: auto;
    padding: 5%;
    max-width: 50%;
}

br{
    margin: 5px;
}

.crypth_text{
    font-family: CryptoAutum !important;
    font-size: 30px;
    line-height: 40px !important;
    word-wrap: break-word !important;
}